:root {
    --main-white: #ffff;
    --main-green: #00FF00;
    --main-grey: #808080;
    --main-black: #000000;

}


@media (max-width: 30em){
    html {
        font-size : 50%
    }
}

#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 100%;
}

#navbar {
display: flex;
justify-content: flex-end;
position: fixed;
top:0;
left:0;
width: 100%;
background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(70,252,152,1) 100%);
box-shadow: 0 2px 0 rgba(27, 26, 26, 0.4);
}
.nav-list {
    display: flex;
    margin-right:  1rem;

}
@media (max-width: 30em) {
    #navbar {
        justify-content:center;
    }
    .nav-list{
        margin: 0 1rem;
    }
}
.nav-list a {
    display:block;
    font-size:  2.2rem;
    padding: 2rem;
}
.nav-list a:hover {
    background:rgba(40, 42, 40, 0.4)
}
li {
    padding: 20px;
    list-style: none;
}

body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,114,1) 100%);  
    font-family:"Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
    margin-top: 32px;
}

h1,
h2{
    font-family: "Raleway", sans-serif;
    font-weight: 650;
    text-align: center;
}
.projects {
    text-align: center;
    padding: 10rem 2rem;  
}
a {
    text-decoration: none;
}
.projects-grid {
    display:grid;
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.projects-header {
    max-width: 640px;
    margin : 0 auto 6rem auto;
    display: flex;
    flex-direction: column;
}
.project-tile img:hover{
    transform: scale(1.05);
    transition: all ease ;
    border-radius: 15px;
}
div img{  
    width:350px;
}